body {
  background-color: #c3cfe2;
}

.container1 {
  background-color: white;
  footer {
    background-color: #686de0;
    color: white;
    img {
      border-color: white;
    }
  }
}
.container2 {
  div {
    background-color: black;
  }
}
.blog {
  background-color: #e17b77;
  color: white;
}
.twitter {
  background-color: #00aced;
  color: white;
}
.linkedin {
  background-color: #007bb6;
  color: white;
}
.facebook {
  background-color: #3b5998;
  color: white;
}
.github {
  background-color: #333;
  color: white;
}
